<div class="quizzle-container" ng-if="vm.activate">
    <div class="quizzle-slide" ng-repeat="slide in vm.quiz" ng-class="{'quizzle-slide-current':vm.index == $index, 'quizzle-slide-left': vm.answered[$index] == 'left', 'quizzle-slide-right': vm.answered[$index] == 'right'}" ng-if="!vm.isAnswered($index)" ng-swipe-left="vm.answerQuestion(vm.left, 'left', $index)" ng-swipe-right="vm.answerQuestion(vm.right, 'right', $index)">
        <div class="quizzle-question">
            <div class="quizzle-question-text">
                <span>{{slide.text}}</span>
                <div class="quizzle-question-img">
                    <img ng-class="{'hide': !slide.img}" ng-src="{{slide.img}}"/>
                </div>
            </div>
        </div>
        <div class="quizzle-answer-container" ng-class="{'hide': !slide.answer}">

            <div class="quizzle-answer quizzle-answer-left" ng-click="vm.answerQuestion(vm.left, 'left', $index)">  
                <span>{{slide.answer.left.text}}</span>
                <img class="quizzle-answer-img" ng-src="{{slide.answer.left.img}}" />
            </div>
            <div class="quizzle-answer quizzle-answer-right"  ng-click="vm.answerQuestion(vm.right, 'right', $index)">
                <span>{{slide.answer.right.text}}</span>
                <img class="quizzle-answer-img" ng-src="{{slide.answer.right.img}}" />
            </div>
        </div>
    </div>
    <div class="quizzle-slide quizzle-slide-done" ng-if="vm.checkDone()">
        <div class="quizzle-question">
            <div class="quizzle-question-text">
                <span>{{vm.current.text}}</span>
            </div>
            <div class="quizzle-question-img">
            </div>
        </div>
        <div class="quizzle-answer-container" ng-if="vm.repeat" ng-class="{'hide': vm.current.answer}">
            <a class="quizzle-repeat-link" ng-click="vm.resetQuiz()">Click here to take the quiz again.</a>
        </div>
    </div>
</div>
