@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

.hide {
	display: none !important;
}

.quizzle-container {
	position: relative;
    width: 100%;
<<<<<<< HEAD
    height: 100%;
    min-width: 450px;
    min-height: 500px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
=======
    overflow: hidden;
>>>>>>> 2faea09b457a00288ab012d79e819098b7c86e6c
}

.quizzle-slide {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: relative;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.quizzle-slide-left.ng-leave {
    margin-left: 0;
}
.quizzle-slide-left.ng-leave-active {
    margin-left: -100%;
}

.quizzle-slide-right.ng-leave {
    margin-right: 0;
}
.quizzle-slide-right.ng-leave-active {
    margin-right: -100%;
}

.quizzle-question {
	display: table;
	width: 100%;
    height: 80%;
    /*background-color: #D1C4E9;*/
    /*position: absolute;*/
    text-align: center;
}
.quizzle-question-text {
    display: table-cell;
    vertical-align: middle;
    font-weight: 600;
/**/
    position: absolute;
    top: 50%;
    left: 0%;
/**/
    width: 100%;
    height: 100%;
    padding: 10px;
}
.quizzle-question-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.quizzle-answer-container {
	display: table;
	position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
}
.quizzle-answer {
	display: table-cell;
    vertical-align: middle;
	cursor: pointer;
    width: 50%;
    height: 100%;
    font-size: 24px;
    position: relative;
    text-align: center;
    color: #7E57C2;
    border-radius: 10px;
    -webkit-transition: background-color ease 0.3s;
    transition: background-color ease 0.3s;
}

.quizzle-answer:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.quizzle-answer:active {
	background-color: rgba(0, 0, 0, 0.1);
}

.quizzle-repeat-link {
	width: 100%;
    height: 100%;
	cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
